---
layout: default
header_class: alt

banner:
  class: major
  title: The place to invest in alternative assets
  excerpt: Purchase NFTs on all Blockchains in one place
  url: "#one"
  link_text: Get involved

tiles:
- image: /images/pic01.jpg
  url: /landing.html
  title: Shares of NTF's
  excerpt: Own fractions of multiple NTFs
- image: /images/pic02.jpg
  url: /landing.html
  title: ETF for alternative assets
  excerpt: Diversify the risk by purchasing fractions of multiple NFTs
- image: /images/pic03.jpg
  url: /landing.html
  title: Alternative Assets Brokerage - Derivatives
  excerpt: Pay in a selection of fiat currencies as well as a number of cryptocurrencies
- image: /images/pic04.jpg
  url: /landing.html
  title: Regulated platform with FCA
  excerpt: Make FCA help you navigate around the marketplace
- image: /images/pic05.jpg
  url: /landing.html
  title: Primary and secondary market
  excerpt: Buy and sell NFTs to other investors
- image: /images/pic06.jpg
  url: /landing.html
  title: Secondary Market
  excerpt: We help you find potential buyers for your NTFs

---

{% include layout/banner.html banner=page.banner %}

<!-- Main -->
	<div id="main">

		<!-- One -->
			{% include components/tiles.html id="one" tiles=page.tiles %}

		<!-- Two -->
			<section id="two">
				<div class="inner">
					<header class="major">
						<h2>Want to hear more? Get in touch</h2>
					</header>
          <p>Democratising NFT's by facilitating investors
            ability to buy shares in Digital Art</p>
					<ul class="actions">
						<li><a href="landing.html" class="button next">Get Started</a></li>
					</ul>
				</div>
			</section>

	</div>
