---
layout: default
header_class: alt

banner:
  class: major
  title: NFT Marketplace for music samples
  excerpt: The quickest growing NFT marketplace for music samples.
  url: "#one"
  link_text: Get involved

tiles:
- image: /images/pic01.jpg
  url: /landing.html
  title: Own your favourite musi samples
  excerpt: Our goal is to enable ownership of your favourite music art
- image: /images/pic02.jpg
  url: /landing.html
  title: Trace ownership
  excerpt: Allow for a transparent views of NFT owners' history
- image: /images/pic03.jpg
  url: /landing.html
  title: Both fiat payments enabled
  excerpt: Pay in a selection of fiat currencies as well as a number of cryptocurrencies
- image: /images/pic04.jpg
  url: /landing.html
  title: We investiagate
  excerpt: We check how local governments' decisions affect particular group of people
- image: /images/pic05.jpg
  url: /landing.html
  title: Community
  excerpt: Stay in touch of the community of NFT music sample owners
- image: /images/pic06.jpg
  url: /landing.html
  title: We mediate
  excerpt: We help voice citizens' concenrns

---

{% include layout/banner.html banner=page.banner %}

<!-- Main -->
	<div id="main">

		<!-- One -->
			{% include components/tiles.html id="one" tiles=page.tiles %}

		<!-- Two -->
			<section id="two">
				<div class="inner">
					<header class="major">
						<h2>Want to hear more? Get in touch</h2>
					</header>
					<p>Nullam et orci eu lorem consequat tincidunt vivamus et sagittis libero. Mauris aliquet magna magna sed nunc rhoncus pharetra. Pellentesque condimentum sem. In efficitur ligula tate urna. Maecenas laoreet massa vel lacinia pellentesque lorem ipsum dolor. Nullam et orci eu lorem consequat tincidunt. Vivamus et sagittis libero. Mauris aliquet magna magna sed nunc rhoncus amet pharetra et feugiat tempus.</p>
					<ul class="actions">
						<li><a href="landing.html" class="button next">Get Started</a></li>
					</ul>
				</div>
			</section>

	</div>
