---
layout: default
header_class: alt

banner:
  class: major
  title: Buy, Collect and Sell shares of NFTs
  excerpt: on one marketplace
  url: "#"
  link_text: Get involved

tiles:
- image: /images/pic01.jpg
  url: /
  title: Buy and Sell Shares of NTFs
  excerpt: Own a piece of the most sought after NFTs
- image: /images/pic02.jpg
  url: /
  title: ETF for alternative assets
  excerpt: Diversify the risk by purchasing fractions of multiple NFTs
- image: /images/pic03.jpg
  url: /
  title: Consumer Protection
  excerpt: A focus on Regulated Practice to help increase trust and protection when buying NFTs
- image: /images/pic04.jpg
  url: /
  title: Easy to Use
  excerpt: Removing current complexity for people to buy NFTs
- image: /images/pic05.jpg
  url: /
  title: Primary market
  excerpt: Buy directly from creators
- image: /images/pic06.jpg
  url: /
  title: Secondary Market
  excerpt: Buy from NFT owners or sell

---

{% include layout/banner.html banner=page.banner %}

<!-- Main -->
	<div id="main">

		<!-- One -->
			{% include components/tiles.html id="one" tiles=page.tiles %}

		<!-- Two -->
			<section id="two">
				<div class="inner">
					<header class="major">
						<h2>Want to hear more? Get in touch</h2>
					</header>
          <p>Democratising NFT's by facilitating investors
            ability to buy shares in Digital Art</p>
					<ul class="actions">
						<li><a href="#" class="button next">Get Started</a></li>
					</ul>
				</div>
			</section>

	</div>
