{% comment %}

	Example:

		{% include layout/footer.html %}

{% endcomment %}

<!-- Contact -->
	<section id="contact">
		<div class="inner">
			<section>
				<form method="post" action="#">
					<div class="fields">
						<div class="field half">
							<label for="name">Name</label>
							<input type="text" name="name" id="name" />
						</div>
						<div class="field half">
							<label for="email">Email</label>
							<input type="text" name="email" id="email" />
						</div>
					</div>
					<ul class="actions">
						<li><input type="submit" value="Subscribe" class="primary" /></li>
					</ul>
				</form>
			</section>
			<section class="split">
				<section>
					<div class="contact-method">
						<span class="icon solid alt fa-envelope"></span>
						<h3>Email</h3>
						<a href="#">m.soczka@gmail.com</a>
					</div>
				</section>
				<section>
					<div class="contact-method">
						<span class="icon solid alt fa-phone"></span>
						<h3>Phone</h3>
						<span>(+44)07999-779-257</span>
					</div>
				</section>
				<section>
					<div class="contact-method">
						<span class="icon solid alt fa-home"></span>
						<h3>Address</h3>
						<span>Codebase<br />
            38 Castle Terrace <br />
						EH3 9DZ, Edinburgh<br />
						United Kingdom</span>
					</div>
				</section>
			</section>
		</div>
	</section>

<!-- Footer -->
	<footer id="footer">
		<div class="inner">
			<ul class="icons">
				<li><a href="#" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
				<li><a href="#" class="icon brands alt fa-facebook"><span class="label">Facebook</span></a></li>
				<li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
				<li><a href="#" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
				<li><a href="#" class="icon brands alt fa-linkedin"><span class="label">LinkedIn</span></a></li>
			</ul>
			<ul class="copyright">
				<li>&copy; Divisio Market {{ site.time | date: '%Y'}}</li>
			</ul>
		</div>
	</footer>
